{% extends "base.html" %}
{% load show_inclusion_tags panya_inclusion_tags gallery_inclusion_tags %} 

{% block content %}
    <div class="page section_shows_djs">
	    <div class="title">
		    <h1>{{ title }}</h1>
            {% showcontributor_header contributor %}
		</div><!--/title-->
            
        {% view_modifier view_modifier %}
        
        {% object_header object %}
      
        {% with object.as_leaf_class as object %}
            {% render_object object.as_leaf_class "detail" %}
        {% endwith %}

        {% object_comments object %}

	</div><!--/page-->
{% endblock %}
